In [1]:
import pandas as pd

df = pd.read_csv('../../data/label/MeanCategoryRatingsUSA.csv')
df.head()

,filename,amusing,angry,annoying,anxious/tense,awe-inspiring/amazing,beautiful,bittersweet,calm/relaxing/serene,compassionate/sympathetic,...,joyful/cheerful,nauseating/revolting,painful,proud/strong,romantic/loving,sad/depressing,scary/fearful,tender/longing,transcendent/mystical,triumphant/heroic
0,01 - Tree Dance&1.mp3,0.055556,0.00000,0.11111,0.055556,0.111110,0.277780,0.055556,0.500000,0.22222,...,0.055556,0.000000,0.00000,0.00000,0.111110,0.055556,0.00000,0.11111,0.055556,0.00000
1,04F4xlWSFh0_18.mp3,0.055556,0.00000,0.16667,0.222220,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.055556,0.11111,0.33333,0.000000,0.000000,0.11111,0.00000,0.000000,0.11111
2,04F4xlWSFh0_75.mp3,0.000000,0.22222,0.22222,0.166670,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.055556,0.111110,0.22222,0.33333,0.000000,0.000000,0.22222,0.00000,0.000000,0.16667
3,05UApr2UQHQ_227.mp3,0.111110,0.00000,0.00000,0.111110,0.111110,0.166670,0.000000,0.166670,0.00000,...,0.000000,0.055556,0.00000,0.00000,0.055556,0.000000,0.00000,0.00000,0.000000,0.00000
4,073TNjLc070_40.mp3,0.111110,0.00000,0.16667,0.000000,0.055556,0.055556,0.000000,0.055556,0.11111,...,0.222220,0.000000,0.00000,0.00000,0.000000,0.000000,0.00000,0.00000,0.166670,0.00000

In [2]:
from tqdm import tqdm
import soundfile as sf

sdf = pd.DataFrame({'filename': df['filename']})
sdf['y_length'], sdf['sr'] = 0, 0
sdf.head()

                filename  y_length  sr
0  01 - Tree Dance&1.mp3         0   0
1     04F4xlWSFh0_18.mp3         0   0
2     04F4xlWSFh0_75.mp3         0   0
3    05UApr2UQHQ_227.mp3         0   0
4     073TNjLc070_40.mp3         0   0

In [3]:
for i, row in tqdm(sdf.iterrows(), total=sdf.shape[0]):
    y, sr = sf.read(f'../../data/sample/{row.filename}')
    sdf.at[i, 'y_length'] = len(y)
    sdf.at[i, 'sr'] = sr

100%|██████████| 1841/1841 [00:11<00:00, 162.22it/s]

In [4]:
sdf.head()

                filename  y_length     sr
0  01 - Tree Dance&1.mp3    224623  44100
1     04F4xlWSFh0_18.mp3     92160  44100
2     04F4xlWSFh0_75.mp3    222208  44100
3    05UApr2UQHQ_227.mp3     92160  44100
4     073TNjLc070_40.mp3    222208  44100

In [5]:
sdf['length'] = sdf['y_length'] / sdf['sr']
sdf.head()

                filename  y_length     sr    length
0  01 - Tree Dance&1.mp3    224623  44100  5.093492
1     04F4xlWSFh0_18.mp3     92160  44100  2.089796
2     04F4xlWSFh0_75.mp3    222208  44100  5.038730
3    05UApr2UQHQ_227.mp3     92160  44100  2.089796
4     073TNjLc070_40.mp3    222208  44100  5.038730

In [6]:
sdf['length'] = sdf['length'].apply(lambda x: round(x))
sdf.head()

                filename  y_length     sr  length
0  01 - Tree Dance&1.mp3    224623  44100       5
1     04F4xlWSFh0_18.mp3     92160  44100       2
2     04F4xlWSFh0_75.mp3    222208  44100       5
3    05UApr2UQHQ_227.mp3     92160  44100       2
4     073TNjLc070_40.mp3    222208  44100       5

In [7]:
ssdf = sdf[sdf['length'] == 5]
ssdf.describe()

            y_length            sr  length
count    1809.000000   1809.000000  1809.0
mean   224743.574903  44436.318408     5.0
std      5708.916004   1095.077451     0.0
min    207434.000000  44100.000000     5.0
25%    223232.000000  44100.000000     5.0
50%    223232.000000  44100.000000     5.0
75%    223232.000000  44100.000000     5.0
max    263285.000000  48000.000000     5.0

/var/folders/dd/ycn3gn197sd9xbwfdr0h1hv40000gn/T/ipykernel_1120/628223507.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ssdf['l_length'], ssdf['l_sr'] = 0, 0
100%|██████████| 1809/1809 [00:08<00:00, 214.52it/s]

            y_length            sr  length       l_length    l_sr
count    1809.000000   1809.000000  1809.0    1809.000000  1809.0
mean   224743.574903  44424.129353     5.0   24037.492537     0.0
std      5708.916004   1214.975976     0.0   71999.142792     0.0
min    207434.000000  22050.000000     5.0       0.000000     0.0
25%    223232.000000  44100.000000     5.0       0.000000     0.0
50%    223232.000000  44100.000000     5.0       0.000000     0.0
75%    223232.000000  44100.000000     5.0       0.000000     0.0
max    263285.000000  48000.000000     5.0  263285.000000     0.0

In [12]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(ssdf, test_size=0.2)

In [13]:
train.head()

                            filename  y_length     sr  length
122                     2842.m4a.mp3    222208  44100       5
177                3nmxBiZQTvg_0.mp3    222208  44100       5
1018  Shire_PensiveOutline_short.mp3    223232  44100       5
1740               v1dL3SklXwI_1.mp3    223232  44100       5
56                1qKS51qh4OY_82.mp3    223232  44100       5