In [1]:
import os

import numpy as np
import pandas as pd

df = pd.read_csv('../../data/backup/raw.csv')
df.head()

,color,top,left,filename,id,description,feature,url
0,#625647,61.3857,527.1260,01 - Tree Dance&1.mp3,1,"57% Calm, relaxing, serene, 54% Dreamy, 29% Be...","[5.5,6.8,6.1,5.7,4,5.7,5.3,3.3,6.5,6.4,4.8]",https://www.amazon.com/dp/B00B6N6U9K/
1,#7E3B7C,549.3154,283.8655,04F4xlWSFh0_18.mp3,2,"42% Energizing, pump-up, 25% Proud, strong, 22...","[4.9,3.8,4.6,4.2,5.4,3.9,5.5,4.5,3.6,4.4,5.3]",https://www.youtube.com/watch?v=04F4xlWSFh0
2,#C662C2,552.4995,255.2897,04F4xlWSFh0_75.mp3,3,"50% Energizing, pump-up, 35% Exciting, 31% Pro...","[7.6,4.8,5.2,4.4,7.5,4.4,6.2,4.9,4.6,5.5,6.1]",https://www.youtube.com/watch?v=04F4xlWSFh0
3,#000F0F,351.4901,417.3034,05UApr2UQHQ_227.mp3,4,"20% Calm, relaxing, serene, 20% Energizing, pu...","[5.1,4.7,5.2,5.1,4.3,5.4,4.3,4.5,5.6,5.5,3.9]",https://www.youtube.com/watch?v=05UApr2UQHQ
4,#20206B,418.3582,386.3836,073TNjLc070_40.mp3,5,"29% Energizing, pump-up, 25% Erotic, desirous,...","[6.1,3.7,5.1,4.3,5.3,5.9,4.8,3.9,4.9,6.1,4.7]",https://www.youtube.com/watch?v=073TNjLc070

In [13]:
import re
from emotion.utils import e2i
import numpy as np

df['emotion'] = None
pattern = re.compile('(\d+)% (\D+)')
for i, row in df.iterrows():
    l = [0] * 28
    for ve in pattern.findall(row['description']):
        v, e = ve
        e = e[:-2] if e.endswith(', ') else e
        l[e2i[e]] = int(v)
    df.at[i, 'emotion'] = np.array(l)
df.head()

,color,top,left,filename,id,description,feature,url,emotion
0,#625647,61.3857,527.1260,01 - Tree Dance&1.mp3,1,"57% Calm, relaxing, serene, 54% Dreamy, 29% Be...","[5.5, 6.8, 6.1, 5.7, 4.0, 5.7, 5.3, 3.3, 6.5, ...",https://www.amazon.com/dp/B00B6N6U9K/,"[4, 0, 7, 4, 7, 29, 4, 57, 14, 54, 7, 4, 18, 4..."
1,#7E3B7C,549.3154,283.8655,04F4xlWSFh0_18.mp3,2,"42% Energizing, pump-up, 25% Proud, strong, 22...","[4.9, 3.8, 4.6, 4.2, 5.4, 3.9, 5.5, 4.5, 3.6, ...",https://www.youtube.com/watch?v=04F4xlWSFh0,"[3, 3, 8, 14, 0, 0, 0, 0, 0, 3, 6, 42, 6, 0, 1..."
2,#C662C2,552.4995,255.2897,04F4xlWSFh0_75.mp3,3,"50% Energizing, pump-up, 35% Exciting, 31% Pro...","[7.6, 4.8, 5.2, 4.4, 7.5, 4.4, 6.2, 4.9, 4.6, ...",https://www.youtube.com/watch?v=04F4xlWSFh0,"[0, 15, 19, 15, 0, 4, 4, 4, 0, 4, 12, 50, 0, 0..."
3,#000F0F,351.4901,417.3034,05UApr2UQHQ_227.mp3,4,"20% Calm, relaxing, serene, 20% Energizing, pu...","[5.1, 4.7, 5.2, 5.1, 4.3, 5.4, 4.3, 4.5, 5.6, ...",https://www.youtube.com/watch?v=05UApr2UQHQ,"[9, 0, 6, 9, 6, 11, 3, 20, 3, 14, 6, 20, 9, 6,..."
4,#20206B,418.3582,386.3836,073TNjLc070_40.mp3,5,"29% Energizing, pump-up, 25% Erotic, desirous,...","[6.1, 3.7, 5.1, 4.3, 5.3, 5.9, 4.8, 3.9, 4.9, ...",https://www.youtube.com/watch?v=073TNjLc070,"[14, 0, 14, 0, 4, 14, 0, 4, 11, 14, 14, 29, 7,..."

In [14]:
df['feature'] = df['feature'].apply(lambda x: np.array([float(s) for s in x.strip('][').split(',')]))
df.head()

AttributeError: 'list' object has no attribute 'strip'

In [15]:
df = df.sort_values(by=['id'])
df.head()

,color,top,left,filename,id,description,feature,url,emotion
0,#625647,61.3857,527.1260,01 - Tree Dance&1.mp3,1,"57% Calm, relaxing, serene, 54% Dreamy, 29% Be...","[5.5, 6.8, 6.1, 5.7, 4.0, 5.7, 5.3, 3.3, 6.5, ...",https://www.amazon.com/dp/B00B6N6U9K/,"[4, 0, 7, 4, 7, 29, 4, 57, 14, 54, 7, 4, 18, 4..."
1,#7E3B7C,549.3154,283.8655,04F4xlWSFh0_18.mp3,2,"42% Energizing, pump-up, 25% Proud, strong, 22...","[4.9, 3.8, 4.6, 4.2, 5.4, 3.9, 5.5, 4.5, 3.6, ...",https://www.youtube.com/watch?v=04F4xlWSFh0,"[3, 3, 8, 14, 0, 0, 0, 0, 0, 3, 6, 42, 6, 0, 1..."
2,#C662C2,552.4995,255.2897,04F4xlWSFh0_75.mp3,3,"50% Energizing, pump-up, 35% Exciting, 31% Pro...","[7.6, 4.8, 5.2, 4.4, 7.5, 4.4, 6.2, 4.9, 4.6, ...",https://www.youtube.com/watch?v=04F4xlWSFh0,"[0, 15, 19, 15, 0, 4, 4, 4, 0, 4, 12, 50, 0, 0..."
3,#000F0F,351.4901,417.3034,05UApr2UQHQ_227.mp3,4,"20% Calm, relaxing, serene, 20% Energizing, pu...","[5.1, 4.7, 5.2, 5.1, 4.3, 5.4, 4.3, 4.5, 5.6, ...",https://www.youtube.com/watch?v=05UApr2UQHQ,"[9, 0, 6, 9, 6, 11, 3, 20, 3, 14, 6, 20, 9, 6,..."
4,#20206B,418.3582,386.3836,073TNjLc070_40.mp3,5,"29% Energizing, pump-up, 25% Erotic, desirous,...","[6.1, 3.7, 5.1, 4.3, 5.3, 5.9, 4.8, 3.9, 4.9, ...",https://www.youtube.com/watch?v=073TNjLc070,"[14, 0, 14, 0, 4, 14, 0, 4, 11, 14, 14, 29, 7,..."

In [16]:
df.to_csv('../../data/backup/raw.csv', index=False)

In [21]:
E = np.zeros((1841, 28))
F = np.zeros((1841, 11))

for i, row in df.iterrows():
    E[i] = row['emotion']
    F[i] = row['feature']

In [22]:
from emotion.utils import emotions

edf = pd.DataFrame(E, columns=emotions)
edf.head()

,Amusing,Angry,Annoying,"Anxious, tense","Awe-inspiring, amazing",Beautiful,Bittersweet,"Calm, relaxing, serene","Compassionate, sympathetic",Dreamy,...,"Joyful, cheerful","Nauseating, revolting",Painful,"Proud, strong","Romantic, loving","Sad, depressing","Scary, fearful","Tender, longing","Transcendent, mystical","Triumphant, heroic"
0,4.0,0.0,7.0,4.0,7.0,29.0,4.0,57.0,14.0,54.0,...,14.0,0.0,0.0,0.0,21.0,7.0,0.0,14.0,7.0,0.0
1,3.0,3.0,8.0,14.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,8.0,11.0,25.0,0.0,0.0,6.0,0.0,0.0,11.0
2,0.0,15.0,19.0,15.0,0.0,4.0,4.0,4.0,0.0,4.0,...,8.0,8.0,15.0,31.0,0.0,0.0,15.0,0.0,0.0,15.0
3,9.0,0.0,6.0,9.0,6.0,11.0,3.0,20.0,3.0,14.0,...,11.0,3.0,0.0,3.0,3.0,0.0,0.0,0.0,9.0,3.0
4,14.0,0.0,14.0,0.0,4.0,14.0,0.0,4.0,11.0,14.0,...,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,0.0

In [26]:
edf.describe()

,Amusing,Angry,Annoying,"Anxious, tense","Awe-inspiring, amazing",Beautiful,Bittersweet,"Calm, relaxing, serene","Compassionate, sympathetic",Dreamy,...,"Joyful, cheerful","Nauseating, revolting",Painful,"Proud, strong","Romantic, loving","Sad, depressing","Scary, fearful","Tender, longing","Transcendent, mystical","Triumphant, heroic"
count,1841.000000,1841.000000,1841.000000,1841.000000,1841.000000,1841.000000,1841.000000,1841.000000,1841.000000,1841.000000,...,1841.000000,1841.000000,1841.000000,1841.000000,1841.000000,1841.000000,1841.000000,1841.000000,1841.000000,1841.000000
mean,5.360130,2.311787,6.378599,8.308528,8.627376,11.501358,5.923954,16.975557,9.153721,11.269962,...,10.871809,1.763715,2.597501,7.907116,9.007605,7.341662,4.582835,7.833243,7.707224,8.582292
std,9.159405,5.468339,9.979575,9.705970,8.806877,12.202553,6.636991,16.636456,9.404309,10.570283,...,13.317971,3.487728,3.865170,10.123131,11.525065,10.656803,9.579859,9.752921,8.211180,14.169429
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,3.000000,3.000000,0.000000,3.000000,0.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,0.000000,3.000000,4.000000,6.000000,7.000000,4.000000,11.000000,6.000000,8.000000,...,6.000000,0.000000,0.000000,4.000000,4.000000,3.000000,0.000000,4.000000,6.000000,3.000000
75%,7.000000,3.000000,8.000000,12.000000,12.000000,19.000000,8.000000,30.000000,15.000000,18.000000,...,15.000000,3.000000,4.000000,11.000000,14.000000,11.000000,4.000000,12.000000,11.000000,9.000000
max,79.000000,44.000000,79.000000,50.000000,57.000000,65.000000,39.000000,74.000000,48.000000,57.000000,...,75.000000,42.000000,36.000000,52.000000,67.000000,60.000000,76.000000,61.000000,53.000000,83.000000

In [23]:
from emotion.utils import features

fdf = pd.DataFrame(F, columns=features)
fdf.head()

,Arousal,Attention,Certainty,Commitment,Dominance,Enjoyment,Identity,Obstruction,Safety,Valence,Familiarity
0,5.5,6.8,6.1,5.7,4.0,5.7,5.3,3.3,6.5,6.4,4.8
1,4.9,3.8,4.6,4.2,5.4,3.9,5.5,4.5,3.6,4.4,5.3
2,7.6,4.8,5.2,4.4,7.5,4.4,6.2,4.9,4.6,5.5,6.1
3,5.1,4.7,5.2,5.1,4.3,5.4,4.3,4.5,5.6,5.5,3.9
4,6.1,3.7,5.1,4.3,5.3,5.9,4.8,3.9,4.9,6.1,4.7

In [12]:
cemotions = ["有趣的_好笑的", "气愤的", "烦人的_恼人的", "焦虑的_紧张的", "令人敬畏的_令人惊叹的", "美丽的", "苦乐参半的", "平静的_放松的_安逸的", "富于同情心的_善于感受的",
             "梦幻的", "怪异的_神秘的", "有活力的_有能量的", "使人入迷的", "色情的_渴望的", "狂喜的_极度喜悦的", "兴奋的", "起鸡皮疙瘩的", "愤愤不平的_反抗的", "欢喜的_欢快的",
             "恶心的_让人反感的", "痛苦的", "骄傲的_强大的", "浪漫的", "伤感的_抑郁的", "恐怖的_可怕的", "温柔的_渴望的", "超然的_神化的", "胜利的_英勇的"]

from emotion.utils import emotions
import numpy as np
import pandas as pd
import os

edf = pd.read_csv('../../data/emotion.csv')

for i, e in enumerate(emotions):
    id = edf[e].idxmax()
    old_path = f'../../data/audio/{str(id).zfill(4)}.mp3'
    new_path = f'../../results/top_vis/{str(i).zfill(2)}_{cemotions[i]}_{int(edf.at[id, e])}%.mp3'.replace(' ', '_')
    os.system(f'cp {old_path} {new_path}')